# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\电脑\0706\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
